.about {
  --active-background-color: #6ae4a7;

  transition: background-color 0.6s ease, opacity 0.3s ease;
  opacity: 0.5;

  > header,
  > main {
    opacity: 0.5;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform: translateY(40px);
  }

  .about-background {
    z-index: -1;
    opacity: 0;
    background-image: url(/img/Frame_2953.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    transition: opacity 0.6s ease;
  }

  &.active {
    opacity: 1;

    .about-background {
      opacity: 1;
    }

    > header,
    > main {
      opacity: 1;
      transform: translateY(0);
    }
  }

  main {
    gap: 1em;
    width: 100%;
    align-items: center;
    display: flex;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    @media (min-width: 1001px) {
      gap: 3em;
    }

    > div:first-child {
      flex: 1;

      span {
        font-weight: 400;
        font-size: 1em;
        color: var(--grey-160);
      }

      h3 {
        font-weight: 500;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
        line-height: 1em;
        margin-bottom: 0.25em;

        @media (min-width: 1001px) {
          font-size: 4em;
        }

        @media (max-width: 1000px) {
          font-size: 2.25em;

          div {
            display: inline;
          }
        }
      }

      b {
        font-weight: 600;
      }

      p {
        font-weight: 400;
        font-size: 1.25em;
        max-width: 800px;
        color: var(--dark-80);

        @media (max-width: 1000px) {
          margin-bottom: 0;
        }
      }
    }

    > div:nth-child(2) {
      @media (max-width: 800px) {
        transform: scale(0.75);
      }

      > .tilt {
        background-color: white;
        border-radius: 16px;
        border: 1px solid var(--dark-70);
        max-width: 100%;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        width: 365px;

        > div:first-child {
          background-color: white;
          border-radius: 16px;

          header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 1em;
          }

          img {
            mix-blend-mode: difference;
            max-width: 100%;
          }
        }

        .inner {
          transform: translateZ(40px) scale(0.85);
          padding: 2em;
          border-radius: 16px;
        }

        footer {
          position: relative;
          margin-top: -9em;
          transform: translateZ(20px);

          h3 {
            font-size: 3em;
            font-weight: 500;
            margin-bottom: 0.25em;
            margin-top: 0;
            transform: translateZ(20px);
          }

          p {
            font-weight: 400;
            font-size: 1em;
            color: var(--dark-80);
            margin-bottom: 0em;
            transform: translateZ(20px);
          }

          span {
            color: var(--grey-170);
            font-size: 0.9em;
            transform: translateZ(20px);
          }

          a {
            display: inline-block;
            margin-top: 3em;
            border: 0.56px solid #000;
            border-radius: 100px;
            padding: 8px 24px;
            color: #000;
            transition: 0.5s color, 0.5s background-color;

            &:hover {
              background-color: #000;
              color: white;
            }
          }
        }
      }
    }
  }
}
