.contribution {
  background-color: var(--dark-20);

  section {
    background-image: url(img/disk.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 30%;
    color: var(--light-10);
    --subheader-color: var(--grey-90);

    header {
      margin-bottom: 2em;
    }

    h3 {
      font-weight: 500;
      font-size: 3em;
      margin: 0;
      max-width: 300px;
    }

    main {
      display: flex;
      flex-direction: column;
      gap: 4em;

      > div {
        display: flex;

        &:first-child {
          p {
            margin-left: 20%;
            max-width: 450px;
          }
        }
      }

      .contributors {
        display: flex;
        gap: 4em;
        align-items: center;
        overflow: hidden;
      }

      p {
        font-size: 1.5em;
      }

      > p {
        max-width: 300px;
      }
    }

    footer {
      color: var(--grey-80);
      margin-top: 4em;
      display: flex;
      align-items: center;

      p {
        margin: 0;
        width: 300px;
        font-size: 1em;
      }

      nav {
        margin-left: 20%;
        display: flex;
        align-items: center;
        gap: 2em;
      }

      a {
        color: var(--grey-80);
        display: flex;
        align-self: center;
        gap: 0.5em;
        border-bottom: 1px solid var(--grey-80);
        border-spacing: 0;
        transition: border-color 0.5s, color 0.5s;

        &::after {
          content: "🡕";
          line-height: 17px;
        }

        &:hover {
          color: var(--green-10);
          border-color: var(--green-10);
        }
      }
    }
  }
}
