.team {
  --active-background-color: white;
  position: relative;
  overflow: hidden;
  padding: 0 !important;
  transition: background-color 0.6s ease, opacity 0.3s ease;
  opacity: 0.5;

  h3,
  span,
  h4,
  a,
  p {
    opacity: 0.5;
    transition: transform 0.6s ease, opacity 0.6s ease;
    transform: translateY(40px);
  }

  &.active {
    opacity: 1;

    h3,
    span,
    h4,
    a,
    p {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (min-width: 1201px) {
    margin-bottom: 0;
  }

  @media (max-width: 1200px) {
    padding-bottom: 16em !important;
  }

  > div {
    margin: auto;
    margin: auto;
    max-width: var(--max-width);
    padding: var(--padding-section);
    width: 100%;

    header {
      font-optical-sizing: auto;
      font-family: Azeret Mono, monospace;
      font-size: 0.85em;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2em;

      p {
        margin: 0;
      }
    }
  }

  img {
    user-select: none;
    max-width: 100%;
    height: auto;
  }

  .team-background {
    position: absolute;
    width: 190%;
    object-fit: cover;
    top: 10%;
    z-index: 0;
    height: 395px;

    @media (max-width: 800px) {
      height: 300px;
    }
  }

  main {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;

    > div {
      display: flex;
      justify-content: space-between;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      @media (max-width: 1200px) {
        background-size: 200%;
      }

      .profile {
        display: flex;
        gap: 6em;

        p {
          font-weight: 600;
          font-size: 1.5em;
          line-height: 1.1em;
          margin: 0;
          white-space: nowrap;
        }

        a {
          font-size: 1em;
          color: #000;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 0.5em;
        }

        span {
          color: var(--grey-40);
          font-size: 1.25em;
          line-height: 26px;
          white-space: nowrap;

          @media (max-width: 1200px) {
            align-self: flex-start;
          }

          @media (max-width: 600px) {
            align-self: center;
          }
        }

        @media (max-width: 1200px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        @media (min-width: 1201px) {
          align-self: center;
        }

        @media (max-width: 600px) {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }
      }

      .careers {
        width: 200px;
        background-color: var(--light-30);
        border-radius: var(--border-radius);
        border-bottom: 4px solid var(--green-10);
        padding: 1em;
        align-self: flex-start;
        width: 100%;

        @media (min-width: 1201px) {
          max-width: 400px;
        }

        @media (max-width: 1200px) {
          position: absolute;
          bottom: 2em;
          left: 0;
          right: 0;
          width: calc(100% - 4em);
          margin: auto;
        }

        span {
          color: var(--green-10);
          text-transform: uppercase;
          display: block;
          margin-top: 1em;
        }

        p {
          color: var(--grey-50);
          font-size: 1.25em;
        }

        a {
          color: var(--green-10);
          font-size: 0.85em;
          text-transform: uppercase;
          font-family: "Azeret Mono", monospace;
          font-optical-sizing: auto;
          font-weight: 600;
          font-style: normal;
        }
      }
    }
  }

  footer {
    display: flex;
    gap: 1em;
    padding-left: 2em;
    padding-right: 2em;
    mask-image: linear-gradient(to right, #0000, #000 10% 95%, #0000);

    .contributor {
      display: flex;
      flex-direction: column;
      flex: 0 1;
      border: 1px solid var(--grey-60);
      padding: 2em 4em 2em 2em;
      gap: 3em;
      border-radius: var(--border-radius);
      white-space: nowrap;
      user-select: none;
      transition: 0.5s box-shadow, 0.5s border-color;
      cursor: pointer;
      min-width: 25%;

      @media (max-width: 500px) {
        min-width: 75%;
      }

      /* @media (min-width: 501px) {
        min-width: 12%;
        max-width: 315px;
      }

      @media (min-width: 801px) {
        min-width: 15%;
        max-width: 315px;
      } */

      &.active {
        border-color: black;
        /* box-shadow: 0 4px 10px rgba(0, 128, 0, 0.3); */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      }

      a,
      a:visited {
        color: #000;
        font-weight: 500;
      }
    }

    .profile {
      p {
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.1em;
        font-weight: 600;
        margin-bottom: 0.25em;
        font-family: Inter;
      }

      span {
        font-weight: 400;
        font-size: 1.15em;
        line-height: 26px;
        color: var(--grey-24);
      }

      a {
        font-size: 1em;
        color: #000;
        font-weight: 500;

        &:visited {
          color: #000;
        }
      }
    }
  }

  .embla {
    overflow: hidden;
    --slide-spacing: 1rem;
    padding: 1em 0;

    > div:first-child {
      display: flex;
      gap: 1em;
      height: 100%;
      width: 100%;

      .contributor:first-child {
        margin-left: 1em;
      }

      @media (min-width: 1001px) {
        height: 100%;
      }

      .content {
        flex: 0 0 100%;
        min-width: 0;
      }
    }
  }

  .controls {
    display: flex;
    height: 86px;
    align-items: center;
    margin-top: 1em;
    gap: 1em;
    justify-content: space-between;

    .buttons {
      display: flex;
      gap: 0.6rem;
      align-items: center;

      button {
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        border: 2px solid var(--color);
        justify-content: center;
        color: var(--color);
        border-radius: 50%;

        &:not(disabled) {
          --color: black;
        }

        &:disabled {
          --color: black;
          opacity: 0.4;
        }

        &:not(.embla-play) svg {
          width: 35%;
          height: 35%;
        }

        &.embla-play svg {
          width: 50%;
        }

        &.embla-play:not(.stop) {
          svg:first-child {
            display: none;
          }
        }

        &.embla-play.stop {
          svg + svg {
            display: none;
          }
        }
      }
    }

    .embla-progress {
      border-radius: 1.8rem;
      background-color: transparent;
      position: relative;
      height: 0.6rem;
      justify-self: flex-end;
      align-self: center;
      width: 13rem;
      max-width: 100px;
      overflow: hidden;
      justify-self: center;
      transition: opacity 0.3s ease-in-out;
      width: 8rem;
      border: 1px solid black;

      > div {
        background-color: black;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: -100%;
        animation-name: autoplay-progress;
        animation-timing-function: linear;
        animation-iteration-count: 1;
      }

      &[aria-hidden] {
        opacity: 0;

        > div {
          animation-play-state: paused;
        }
      }
    }
  }
}

@keyframes autoplay-progress {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
