.hero {
  display: flex;
  background-color: var(--dark-30);
  height: 720px;
  background-image: url(/img/hero.webp);
  background-blend-mode: lighten;
  background-position: right -400px top -300px;
  background-repeat: no-repeat;
  position: relative;

  @media (min-width: 1001px) {
    background-size: 1000px;
    flex-direction: column;

    > div:first-child {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;

      @media (max-width: 1400px) {
        padding-left: 1em;
      }

      @media (min-width: 1001px) {
        position: relative;
        top: 7em;
      }
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    background-size: 1000px;
    justify-content: flex-end;

    > div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 1em;
      padding: 1em;
    }
  }

  @media (max-width: 600px) {
    background-size: 850px;
  }

  h1 {
    font-weight: 500;
    color: white;
    margin: 0;

    @media (min-width: 1501px) {
      font-size: 20em;
    }

    @media (min-width: 1401px) and (max-width: 1500px) {
      font-size: 15em;
    }

    @media (min-width: 1401px) {
      text-align: right;
    }

    @media (max-width: 1400px) {
      text-align: left;
    }

    @media (min-width: 1201px) and (max-width: 1400px) {
      font-size: 14em;
    }

    @media (min-width: 501px) and (max-width: 1200px) {
      font-size: 10em;
    }

    @media (max-width: 500px) {
      font-size: 7em;
    }
  }

  .sub {
    display: flex;
    gap: 1em;

    @media (min-width: 1501px) {
      left: 20%;
      top: -6em;
    }

    @media (min-width: 1401px) and (max-width: 1500px) {
      top: -4em;
      right: -10em;
    }

    @media (min-width: 1401px) {
      justify-content: center;
      align-items: center;
      position: relative;
    }

    @media (max-width: 500px) {
      flex-direction: column;
    }

    .video {
      display: flex;

      div {
        background-color: var(--dark-0);
        width: 220px;
        height: 90px;
      }
    }

    h2 {
      font-family: Azeret Mono;
      font-weight: 300;
      font-size: 1.5em;
      text-transform: uppercase;
      color: var(--green-10);
      margin: 0;
      width: 205px;
      color: var(--green-10);
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    width: 100%;
    padding: var(--padding-section);

    @media (min-width: 1401px) {
      margin: auto;
    }

    .discover {
      font-weight: 500;
      font-size: 1.15em;
      color: var(--green-10);
      border-bottom: 1px solid transparent;
      transition: border-color 0.5s, color 0.5s;

      &:hover {
        border-color: var(--green-10);
      }
    }

    div {
      @media (min-width: 1001px) {
        display: flex;
        align-items: center;
        gap: 1em;
      }

      @media (max-width: 1000px) {
        display: none;
      }

      .arrow {
        @media (min-width: 1001px) {
          background-color: #000000;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          cursor: pointer;
          border: 1px solid transparent;
          transition: color 0.5s, border-color 0.5s;
          color: var(--grey-41);

          &[aria-disabled] {
            background-color: var(--dark-40);
          }

          &:hover:not(&[aria-disabled]) {
            color: white;
            border-color: white;
          }
        }
      }
    }

    span {
      color: white;
    }
  }
}
