:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* heading and subtitle */
h1 {
}

/* links */
a {
  text-decoration: none;

  &:visited {
    color: var(--grey-50);
  }
}
