.testnet {
  @media (min-width: 801px) {
    display: none;
  }

  @media (max-width: 800px) {
    display: flex;
    gap: 1em;
    background-color: #000;
    border-radius: 16px;
    padding: 1em;
    --thumbnail: url(/img/poster.jpg);

    > div:first-child {
      min-width: 155px;
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .image {
        width: 155px;
        height: 67px;
      }

      > .icon:first-child {
        position: relative;
        left: 18px;
      }

      .shield {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
      }
    }

    > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p:first-child {
        font-family: Azeret Mono;
        font-weight: 400;
        font-size: 0.75em;
        text-transform: uppercase;
        color: white;
        margin-top: 0;

        span {
          color: var(--grey-80);
        }
      }

      p + p {
        font-weight: 400;
        font-size: 1em;
        color: var(--grey-80);
        margin-bottom: 0;
      }
    }
  }

  .background-testnet {
    background-image: url(/img/testnet.webp);
    background-size: cover;
    height: 67px;
    width: 100%;

    & + .icon {
      position: relative;
      left: -18px;
    }
  }
}
